@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --yellow : #fab22e ;  
}

body{
    background: var(--yellow);
}

.wrapper{
    background-color: rgb(5, 5, 9);
    width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50% ;
}
.container{
    width: 100%;
    padding: 40px 35px ;
    position: relative;
    border-radius: 10px ;
    text-align: center;
}

.container #emoji{
   width: 200px;
   margin-top: -30px ;
}
.container .jokes{
    color: whitesmoke;    
    line-height: 1.4 ;
    font-size: 18px ;
}
.container #punchline{
    color: wheat;    
    line-height: 1.4 ;
    font-size: 18px ;
}
.container #btn{
    background-color: #13141a;
    border: 1px solid wheat ;
    padding: 15px 45px ;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 18px ;
    font-weight: 600;
    color: var(--yellow) ;
    cursor : pointer ;
}
